<h2><%= @question.title %></h2>
<p><%= @question.description %></p>

<div>
<% if @answer.errors.any? %>
  <p><strong>Error!</strong> <%= @answer.errors.full_messages.to_sentence %></p>
<% end %>

<% bootstrap_form_for @question.answers do |a| %>
  <%= a.text_area :response, label: "Answer this question" %>
  <%= a.hidden_field :question_id %>
  <button>Submit</button>
<% end %>
</div>

<div>
  <h2>Submitted Answers</h2>
  <% @answers.each do |a| %>
    <p><%= a.response %></p>
  <% end %>
</div>